@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff');
    }
    %#{$style-name} {
        font: {
            @if $category !="" {
                family: "#{$style-name}",
                #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}
@font-face {
    font-family: "lemonmilk";
    src: url("./fonts/lemonmilk-regular.eot");
    src: url("./fonts/lemonmilk-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-regular.woff") format("woff");
}

@font-face {
    font-family: "lemonmilk-italic";
    src: url("./fonts/lemonmilk-regular-italic.eot");
    src: url("./fonts/lemonmilk-regular-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-regular-italic.woff") format("woff");
}

@font-face {
    font-family: "lemonmilk-bold";
    src: url("./fonts/lemonmilk-bold.eot");
    src: url("./fonts/lemonmilk-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-bold.woff") format("woff");
}

@font-face {
    font-family: "lemonmilk-bold-italic";
    src: url("./fonts/lemonmilk-bold-italic.eot");
    src: url("./fonts/lemonmilk-bold-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-bold-italic.woff") format("woff");
}

@font-face {
    font-family: "lemonmilk-light";
    src: url("./fonts/lemonmilk-light.eot");
    src: url("./fonts/lemonmilk-light.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-light.woff") format("woff");
}

@font-face {
    font-family: "lemonmilk-light-italic";
    src: url("./fonts/lemonmilk-light-italic.eot");
    src: url("./fonts/lemonmilk-light-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-light-italic.woff") format("woff");
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-regular.eot");
    src: url("./fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-regular.woff") format("woff");
}

@font-face {
    font-family: "roboto-italic";
    src: url("./fonts/roboto-regular-italic.eot");
    src: url("./fonts/roboto-regular-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-regular-italic.woff") format("woff");
}

@font-face {
    font-family: "roboto-black";
    src: url("./fonts/roboto-black.eot");
    src: url("./fonts/roboto-black.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-black.woff") format("woff");
}

@font-face {
    font-family: "roboto-black-italic";
    src: url("./fonts/roboto-black-italic.eot");
    src: url("./fonts/roboto-black-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-black-italic.woff") format("woff");
}

@font-face {
    font-family: "roboto-bold";
    src: url("./fonts/roboto-bold.eot");
    src: url("./fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-bold.woff") format("woff");
}

@font-face {
    font-family: "roboto-bold-italic";
    src: url("./fonts/roboto-bold-italic.eot");
    src: url("./fonts/roboto-bold-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-bold-italic.woff") format("woff");
}

@font-face {
    font-family: "roboto-medium";
    src: url("./fonts/roboto-medium.eot");
    src: url("./fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-medium.woff") format("woff");
}

@font-face {
    font-family: "roboto-medium-italic";
    src: url("./fonts/roboto-medium-italic.eot");
    src: url("./fonts/roboto-medium-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-medium-italic.woff") format("woff");
}

@font-face {
    font-family: "roboto-light";
    src: url("./fonts/roboto-light.eot");
    src: url("./fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-light.woff") format("woff");
}

@font-face {
    font-family: "roboto-light-italic";
    src: url("./fonts/roboto-light-italic.eot");
    src: url("./fonts/roboto-light-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-light-italic.woff") format("woff");
}