@import 'fonts';
@import 'media-queries';

.hero--paragraph{
    font-size: 1.2em;
    span {
        height: 230px;
        position: absolute;
        width: 20px;
        left: 59%;
        top: -2em;
        transform-origin: bottom center;
      }
}
.hero--button{
    font-family: 'roboto-medium';
    font-size: 2em;
    border-radius: 2em;
    color: #3F3F3F;
    z-index: 10;
}
.hero--date{
    font-family: 'lemonmilk';
    font-size: 2em;
    float: right;
}
.hero--title{    
    font-family: 'lemonmilk';
    color: #fff;
    @include respond-to(large-screens) {
        font-size: 3em;
    }
}
.hero--h1{
    font-family: 'roboto';
}
.main--subtitle{
    font-family: 'lemonmilk';
    color: #3f3f3f;
}
.main--text{
    font-family: 'roboto';
    color: #3f3f3f;
}
.speaker--card{
    color: #3f3f3f;
    .speaker--name{
        font-family: 'roboto-black';
        font-size: 1.25em;
        @include respond-to(large-screens) {
            font-size: 1.75em;
        }
    }
    .speaker--title{
        font-size: 1.25em;
        @include respond-to(large-screens) {
            font-size: 1.75em;
        }
    }
    .speaker--ability{
        font-family: 'roboto-medium';
        font-size: 1.5em;  
    }
    .dot{
        height: 0.75em;
        width: 0.75em;
        background-color: #143468;
    }
}