@import 'fonts';

.hero--paragraph{
    font-size: 1.2em;
    span {
        height: 230px;
        position: absolute;
        width: 20px;
        left: 59%;
        top: -2em;
        transform-origin: bottom center;
      }
}
.hero--button{
    font-family: 'roboto-medium';
    font-size: 2em;
    border-radius: 2em;
    color: #3F3F3F;
}
.hero--date{
    font-family: 'lemonmilk';
    font-size: 2em;
    float: right;
}
.main--subtitle{
    font-family: 'lemonmilk';
    color: #3f3f3f;
}
.main--text{
    font-family: 'roboto';
    color: #3f3f3f;
}